---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* _custom.scss */

.page__content {
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .page__content {
    max-width: 800px;
  }
}

@media screen and (max-width: 768px) {
  .page__content {
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .page__content {
    max-width: 95%;
  }
}